body {
    background-color: #a78bfa;
}
.container {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 100px));
    grid-template-rows: auto;
}
.sidebar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}